################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyPasswords/v15
/CommonUI/obj/Debug
/Interfaces/bin/Debug
/Interfaces/obj/Debug
/Logic/bin/Debug
/Logic/obj/Debug
/Model/bin/Debug
/Model/obj/Debug
/MyPasswords/bin/Debug
/MyPasswords/obj/Debug
/packages/Autofac.4.9.1
/VIews/bin/Debug
/VIews/obj/Debug
/Interfaces/bin/Release
/Interfaces/obj/Release
/Logic/obj/Release
/Logic/bin/Release
/Model/obj/Release
/Model/bin/Release
/MyPasswords/obj/Release
/MyPasswords/bin/Release
/MyPasswordsSetup/Release
/MyPasswordsSetup/Debug
/Views/obj/Release
/Views/bin/Release
/View/bin
/View/obj
